* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

.text {
	width: 60rem;
	height: 30rem;

	font-family: "Newsreader", serif;
	font-size: 3rem;
	font-style: italic;
	font-weight: 400;
	margin-left: 3rem;
	margin-top: 3rem;
	line-height: 138.2%;
	letter-spacing: 2.5%;
}

.newsletter-test {
	font-family: "Newsreader", serif;
	font-style: italic;
	font-size: 5rem;
}

.congrats {
	width: 60rem;
	height: 30rem;

	display: flex;
	justify-content: center;
	align-items: center;
}

.svg {
	width: 20rem;
	height: 20rem;
}

.button {
	width: 100%;
	height: 150rem;
	background-color: black;
	position: relative;
	cursor: pointer;

	transform: translate3d(0, 0, 0);
}

#lightbulb {
	transform: translate3d(0, 0, 0);
}

.light {
	opacity: 0.5;
	position: absolute;
	bottom: 3%;
	left: 0%;
	top: 30px;
	background: #ffc700;
	width: 300px;
	height: 300px;
	margin-left: -150px;
	margin-bottom: -301px;
	transform-origin: 50% 48%;
	border-radius: 43%;
	overflow: hidden;
	transition-duration: 0.75s;
	transition-property: margin-bottom;
	transition-timing-function: ease;
}

.button:hover .light {
	margin-bottom: -250px;
	animation: rotate 2000ms infinite linear;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

.btn2 {
	width: 100%;
	height: 30rem;
	background-color: blanchedalmond;
}

.btn-8 {
	cursor: pointer;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: Marvel;
	font-size: 20pt;
	width: 200px;
	height: 45px;
	position: relative;
	border: solid #777 2px;
	color: #777;
	z-index: 1;
	transition: all 0.5s ease-in-out;
	border-radius: 5px;
	background: transparent;
}

.btn-8:before {
	content: "";
	width: 100%;
	height: 0%;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: red;
	transition: 0.5s ease-in-out;
	z-index: -1;
}

.btn-8:hover:before {
	height: 100%;
}

.light:hover {
	color: #f1f1f1;
	border-color: red;
}

.btn-8:active:before {
	background-color: #00a7fc;
}

.btn-8:active {
	border-color: #00a7fc;
	background-color: #00a7fc;
	color: #333;
}

.btn-8:focus {
	outline: none;
}

#lightbulb {
	fill: blue;
}

.test {
	width: 100%;
	height: 30rem;
	background-color: burlywood;
}
